{% extends "page_maitre.html" %}

{% block titre %}
Accueil
{% endblock %}

{% block contenu %}
<main>
    <section>
        <nav>
            <ul>
                <li><a href=""> Accueil</a></li>
                <li><a href="">Formulaire</a></li>
                <li><a href="">Tableau</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <div>
            <div id="carrou" class="container">
                <div id="item">
                    <img id="carrouImg" alt="chat trop mignon" src="../static/img/0.jpg">
                </div>
                <button id="prev" class="btnL">
                    < </button> <button id="next" class="btnR"> >
                </button>
            </div>
        </div>
        <div>
            <p>Fondé en 2020, Du Chat Rivari (dans vos vies) est né d’un amour passionnel de deux frères, Lucas et
                Maxime,
                pour les chats domestiques et qui, depuis leur enfance, ont le rêve de pouvoir ouvrir leur propre café à
                chats dans la région.</p>
            
                <p>Freinés par les événements récents et les restrictions sanitaires. mais ne voulant pas laisser de côté
                leur
                brulante envie de partager leur passion, ils se sont dits que si les gens ne pouvaient pas venir
                jusqu'aux
                chats, ce seraient les chats qui viendraient à eux ! Ainsi naquit Du Chat Rivari (dans vos vies). </p>

            <h2>Mais Comment ça Fonctionne ? </h2>

            <p>C’est toujours appréciable de passer un moment en compagnie d'une boule de poils sur quatre pattes ! Que
                ce
                soit parce que tu as envie de te remonter le moral, pour voir si tu es prêt à adopter un chat, parce que
                tu
                cherches des activités pour occuper ton temps libre, ou simplement par amour des animaux. Il y a plein
                de
                bénéfices à s'entourer de chats.</p>

            <p>C’est pourquoi nous t’offrons la possiblité de louer un chat pour : <br>
                une demi-journée (de 10h à 13h ou de 14h à 17h), <br>
                une journée complète (de 10h à 17h), <br>
                plusieurs jours consécutifs (de 10h le premier jour à 17h le dernier jour).</p>

            <p>Chaque chat ayant sa propre personnalité, nous t’invitons à consulter nos pensionnaires afin de voir
                lequel
                serait le plus adapté à ton foyer et tes attentes. Une fois le chat et la période choisis, tu recevras
                un
                courriel de confirmation avec toutes les instructions nécessaires pour le séjour du minou chez toi et tu
                seras contacté par l’un de nos employés pour s’assurer que tout est prêt pour le recevoir dans les
                meilleures conditions.</p>

            <p>Tu peux aussi directement nous rendre visite pour venir à leur rencontre à l’adresse suivante : 945 rue
                des
                gros matous, Québec, G1V 2V1, en prenant rendez-vous via la page nous contacter.</p>

            <p>Nous nous engageons à fournir la nourriture, la litière ainsi que la caisse de transport nécessaires pour
                tout le temps du séjour du chat à ton domicile. Le prix inclut aussi une assurance en cas de problème
                avec
                le chat durant la garde.</p>

            <p>Évidemment, pour ta propre sécurité et celle de nos chats, des conditions et règles de bon comportement
                s’appliquent et sont consultables ici. Elles devront être lues et signées avant de partir avec l’heureux
                élu.</p>
        </div>
    </section>
</main>
{% endblock %}