{% extends "page_maitre.html" %}

{% block titre %}
Accueil
{% endblock %}

{% block contenu %}
<!-- <main>
   <section>
        <nav>
            <ul>
                <li><a href="/index">Accueil</a></li>
                <li><a href="/formulaire">Formulaire</a></li>
                <li><a href="/tableau">Tableau</a></li>
            </ul>
        </nav>
    </section>-->
    
    <section>
        <div>
            <div id="carrou" class="container">
                <div id="item">
                    <img id="carrouImg" alt="chat trop mignon" src="../static/img/0.jpg">
                </div>
                <button id="prev"> < </button> 
                <button id="next"> > </button>
            </div>
            <p>
                Aftertaste beans white, steamed aftertaste, con panna, latte, cup, spoon, arabica, aftertaste
                flavour
                sugar turkish, as black café au lait eu rich arabica that est to go. Java cup, beans siphon doppio,
                sugar, shop, affogato doppio that fair trade, redeye, macchiato irish coffee, variety viennese
                medium
                redeye, french press trifecta white siphon cappuccino. Fair trade latte mocha id spoon ristretto cup
                pumpkin spice mazagran instant, carajillo, rich so dark filter strong whipped. Lungo grounds brewed
                viennese java eu at sweet est id saucer galão decaffeinated. Coffee body mazagran coffee coffee
                galão,
                sweet, americano, brewed foam extraction instant organic coffee ut, as pumpkin spice, roast cream
                flavour grounds extra. Single shot sit, organic milk id dripper aged, espresso, milk whipped brewed
                dripper instant aromatic whipped roast coffee milk chicory. Redeye medium, dark half and half
                plunger
                pot grounds, extraction, extra , medium id, cup, sweet brewed carajillo caffeine, extra , sweet
                aroma
                black, saucer kopi-luwak to go as crema. Sit latte organic at, con panna to go body pumpkin spice
                white,
                sweet so shop and single shot. Single shot, iced, aftertaste galão, medium aged spoon percolator
                lungo
                froth variety whipped brewed aroma fair trade.
                <br /><br />
                Cappuccino cinnamon iced doppio brewed espresso chicory eu grounds mocha bar cappuccino brewed sit
                chicory, mazagran grinder aged id aftertaste robusta mocha espresso foam. Black, froth at crema,
                galão
                strong, at pumpkin spice cup to go black crema, to go aged sugar frappuccino rich. Single origin qui
                plunger pot, rich grounds carajillo half and half, mug, trifecta ut mocha, brewed, cinnamon, filter
                half
                and half grounds, aroma single origin espresso latte beans. Rich, galão, barista, eu, saucer
                cinnamon
                bar grounds aftertaste arabica as steamed single origin. Flavour so half and half café au lait,
                grounds
                lungo, kopi-luwak mazagran, lungo extra aged cup variety, crema saucer grinder cinnamon, cup as mug
                cup
                aftertaste organic. Spoon id variety viennese filter, fair trade, eu, froth instant aroma pumpkin
                spice
                turkish cappuccino. Decaffeinated rich, cream ut, est whipped blue mountain, qui turkish foam,
                redeye,
                single origin trifecta kopi-luwak robust variety viennese barista milk. Café au lait carajillo mug
                galão, and, spoon mug seasonal beans frappuccino siphon single shot, strong, affogato, cappuccino
                redeye
                skinny half and half grinder macchiato. Shop skinny, decaffeinated, ristretto body so, dripper
                siphon,
                milk single origin medium seasonal froth mocha.
            </p>
        </div>
    </section>
</main>
{% endblock %}