{% extends "page_maitre.html" %}

{% block titre %}
Tableau
{% endblock %}

{% block contenu %}

<section>
    <div>
<!--         
        <div>
            <div>

            </div>
        </div>
 -->
        <div>
            <h2>Découvre nos matous</h2>
            <p>C’est toujours appréciable de passer un moment en compagnie d'une boule de poils sur quatre pattes ! Que ce soit parce que tu as envie de te remonter le moral, pour voir si tu es prêt à adopter un chat, parce que tu cherches des activités pour occuper ton temps libre, ou simplement par amour des animaux. Il y a plein de bénéfices à s'entourer de chats.</p> 
            <p>C’est pourquoi nous t’offrons la possiblité de louer un chat pour : </p>
            <ul>
                <li>une demi-journée (de 10h à 13h ou de 14h à 17h)</li>
                <li>une journée complète (de 10h à 17h)</li>
                <li>ou plusieurs jours consécutifs (de 10h le premier jour à 17h le dernier jour)</li>
            </ul>
            <p>Chaque chat ayant sa propre personnalité, nous t’invitons à consulter la liste de nos pensionnaires afin de voir lequel serait le plus adapté à ton foyer et tes attentes :</p>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Couleur</th>
                        <th>Caractère</th>
                        <th>Emplacement</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td>Chamallow</td>
                        <td>Blanc</td>
                        <td>Doux et calineux</td>
                        <td>Région de Montréal</td>
                    </tr>
                    <tr>
                        <td>Chapardeur</td>
                        <td>Tabby roux</td>
                        <td>Joueur et frippon</td>
                        <td>Région de Montréal</td>
                    </tr>
                    <tr>
                        <td>Chapristi</td>
                        <td>Noir</td>
                        <td>Enjoué et energique</td>
                        <td>Région de Montréal</td>
                    </tr>
                    <tr>
                        <td>Chalumeau</td>
                        <td>Crème</td>
                        <td>Sage et indépendant</td>
                        <td>Région de Montréal</td>
                    </tr>
                    <tr>
                        <td>Chatouille</td>
                        <td>Noir et blanc</td>
                        <td>Vif et espiègle</td>
                        <td>Région de Québec</td>
                    </tr>
                    <tr>
                        <td>Charlotte</td>
                        <td>Tabby roux</td>
                        <td>Calme et colleuse</td>
                        <td>Région de Québec</td>
                    </tr>
                    <tr>
                        <td>Charivari</td>
                        <td>Écaille de tortue</td>
                        <td>Affectueuse et joueuse</td>
                        <td>Région de Québec</td>
                    </tr>
                </tbody>
                </table>
                <p>Une fois le chat choisi, nous t'invitons <a href="./formulaire">à nous contacter</a> afin d'obtenir plus d'informations.</p>
            </div>
    </div>
</section>
</main>

{% endblock %}